.env*
*.pyc
MEDIA
STATIC
.*.swp
db.sqlite3*
exports*
data.pickle
tmp*
*.csv
vuejs/.pnpm-store/*
vuejs/noicrm-ui/.pnpm-store/*
vuejs/noicrm-ui/node_modules/
*.tar
*.tar.gz
ipython_log.*
shared/*
o365_token.txt
*.log
log/*
*.bak
backups/
.vscode
.vite
db/postgresql.conf
db/certificate.cer
db/private.key
db/server.crt
db/server.key
web/backups/
web/*.sql
