DEBUG=true
MY_IOT_ENV=dev
MY_IOT_PROJECT=myhome
BIND_HOST=0.0.0.0
NGINX_HTTP_PORT=8011
NGINX_HTTPS_PORT=443
HOSTNAMEs=localhost,lucaferroni.it
BASE_URL=https://localhost
SECRET_KEY=CHANGEME
POSTGRES_DB=CHANGEME
POSTGRES_USER=CHANGEME
POSTGRES_PASSWORD=CHANGEME
SHARED_DIR=./shared/
SHARED_IMPORT_SUBDIR=000_IMPORT/

TELEGRAM_BOT_TOKEN=123456789
DB_HOST=db
REDIS_HOSTNAME=redis
REDIS_PORT=6379
ALLOWED_SENDER_DOMAINS=lucaferroni.it
NOREPLY_EMAIL_CONTACT=noreply@lucaferroni.it
DEBUG_EMAIL_CONTACT=service@lucaferroni.it
DOCKER_SUBNET=172.28.0.0/16
DOCKER_GATEWAY=172.28.0.1

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=mail.server.net
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
