{% extends 'web/base.html' %}
{% load static i18n %}

{% block main %}
    <v-row>
      <v-col>
        <iframe src="iframes/4d-me/">
        </iframe>
      </v-col>
      <v-col>
        vuoto
      </v-col>
      <v-col>
        <v-sheet>
          POST dal sito feroda.org
        </v-sheet>
      </v-col>
    </v-row>
    <lf-artist-quotes>i
    </lf-artist-quotes>
    <v-row>
      <v-col>
        <iframe src="iframes/fortune/">
        </iframe>
      </v-col>
      <v-col>
        vuoto
      </v-col>
      <v-col>
        <v-sheet>
          Biglietto da visita
        </v-sheet>
      </v-col>
    </v-row>
{% endblock main %}

{% block js_imports %}
  import LfArtistQuotes from 'app/lf-artist-quotes';
{% endblock %}

{% block vue_app %}
  {{ block.super }}
  app.component('LfArtistQuotes', LfArtistQuotes);
{% endblock vue_app %}
