Django
django_extensions
django-environ
requests
channels
channels_redis
uwsgi
daphne
blinker
django-cors-headers
djangorestframework
python-memcached
Pillow
python-telegram-bot
openpyxl
pypdf2
django-helpdesk
django_microsoft_auth
djangorestframework-simplejwt[crypto]
django-admin-list-filters
django-cache-memoize
django-widget-tweaks
pyyaml
uritemplate
django-rest-url-filter
xlsxwriter
blake3
textdistance[extras]
django-simple-captcha
celery[redis,msgpack]
django-celery
django-celery-results
django-celery-beat
django-simple-history
